/*
** Created by vzt
** 2018/11/05
*/
.body {
  position: relative;
}
// section base style
.sections {
  &__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 200px 0 300px 0;
  }
  &__title {
    display: block;
    font-size: 30px;/*no*/
    font-weight: 400;
    line-height: 2rem;
  }
  &__description {
    display: block;
    font-size: 16px;/*no*/
    font-weight: 500;
    line-height: 3rem;
    color: #919191;
  }
  &__content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 80%;
    .sections__item {
      flex: 0 0 16rem;
      height: 900px;
      border-radius: 5px;/*no*/
      transition: all .4s;
      cursor: pointer;
      span {
        display: block;
      }
      &:hover {
        box-shadow: #c6c6c6 0 25px 25px -20px;/*no*/
        transform: translateY(-10px);/*no*/
      }
    }
    .sections__item-image {
      width: 100%;
      height: 70%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: 50% 50%;
    }
    .sections__item-title {
      font-size: 24px;/*no*/
    }
    .sections__item-description {
      font-size: 16px;/*no*/
    }
  }
  &__more {
    &-button {
      width: 7rem;
      height: 3rem;
      font-size: 14px;/*no*/
      border: none;
      outline: none;
      opacity: 0.4;
      transition: all .6s;
      background-color: transparent;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }
}

// stacks
.sections__stacks {
  .sections__content {
    .sections__item {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      color: #fff;
      margin: 0 1px;/*no*/
      overflow: hidden;
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(-100%) skew(-45deg);
        transition: transform .3s;
        background-image: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 50%,rgba(255,255,255,0) 100%);
      }
      &:hover::before {
        transform: translateX(150%) skew(-30deg);
      }
    }
    .sections__item-image {
      width: 100%;
      height: 40%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: 50% 50%;
    }
    .sections__item-title {
      font-size: 24px;/*no*/
      padding: 30px;
    }
    .sections__item-description {
      font-size: 16px;/*no*/
      padding: 40px;
    }
  }
}

// projects
.sections__projects {
  .sections__content {
    .sections__item {
      // min-width: 20%;
      width: 15rem;
      height: 1500px;
      border: 1px solid #e4ecf3;/*no*/
    }
    .sections__item-image {
      transition: all .8s;
    }
    .sections__item:hover .sections__item-image {
      background-size: 120% 120%;
    }
    .sections__item-title, .sections__item-description {
      width: 80%;
      padding: 50px;
      text-indent: 30px;
      text-align: left;
      span {
        height: 120px;
        font-size: 16px;/*no*/
        line-height: 120px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    // .sections__item-description {

    // }
  }
}

// blog
.sections__articles {
  .sections__content {
      text-align: left;
    .sections__item {
      flex: 1 0 16rem;
      max-width: 80%;
      height: 100%;
      border: 1px solid #e4ecf3;/*no*/
      cursor: default;
    }
    .sections__blog-title {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      font-size: 16px;/*no*/
      border-bottom: 1px solid #e4ecf3;/*no*/
    }
    .sections__blog-article {
      transition: all .3s;
      &:hover {
        transform: translate(1rem, -0.2rem);
      }
    }
    .sections__blog-title, .sections__blog-rows {
      margin: 0.5rem 1rem 0.5rem 1rem;
      padding: 1rem;
    }
    .sections__blog-row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 1rem 0 1rem 0;
    }
  }
}

// members
.sections__members {
  .sections__content {
    flex-flow: row wrap-reverse;
    .sections__item {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      width: 20rem;
      height: 1300px;
      margin: 1rem;
      background-color: #F5F8FA;
      border: 1px solid #e4ecf3;/*no*/
    }
    .sections__item-image {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
    }
    .sections__item-title {
      padding: 1rem 0 2rem 0;
    }
    .sections__item-description {
      width: 100%;
      height: 3rem;
      line-height: 3rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: #fff;
    }
  }
}


// 移动端瞎jer适配
@media only screen and (max-width: 768px) {
  .sections__stacks {
    .sections__content {
      flex-flow: column nowrap;
      height: 70rem;
      // .sections__item {
      // }
    }
  }
  .sections__projects {
    .sections__content {
      flex-flow: row wrap;
      height: 90rem;
      .sections__item {
        flex: 1 0 100%;
      }
    }
  }
  .sections__articles {
    .sections__content {
      width: 100%;
      .sections__blog-author {
        display: none;
      }
    }
  }
  .sections__members {
    .sections__content {
      height: 60rem;
      .sections__item {
        flex: 1 0 100%;
      }
    }
  }
}
@media only screen and (min-width: 769px) and (max-width: 1340px) {
  .sections {
    &__content {
      align-items: center;
    }
  }
  .sections__stacks {
    .sections__content {
      flex-flow: row wrap;
      max-width: 44rem;
      min-width: 30rem;
      min-height: 35rem;
      .sections__item {
        flex: 0 0 18rem;
        height: 1000px;
      }
    }
  }
  .sections__projects {
    .sections__content {
      flex-flow: row wrap;
      min-width: 25rem;
      max-width: 40rem;
      min-height: 47rem;
      // .sections__item {
      // }
    }
  }
  // .sections__articles {
  //   .sections__content {
  //     .sections__item {

  //     }
  //   }
  // }
  // .sections__members {
  //   .sections__content {
  //     .sections__item {
  //     }
  //   }
  // }
}