/*
** 首页底部栏css
** Coding by lsj
** 2018/11/10
*/
$footer__normal--color:#bccff5;
$footer__link--color:gold;
.footer {
    width: 100%;
    padding: 1rem 0;
    background: url('http://139.199.2.100/CM/img/bg.png');
    background-size: 100% 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 16px; /*no*/
    color: $footer__normal--color;
    
    // introduction
    &__introduction {
        display: flex;
        flex-direction: row;
        height: 120px;
        justify-content: center;
        &--logo {
            width: 120px;
            height: 120px;
        }
        &--description {
            margin-left: 50px;
            height: 120px;
            line-height: 120px;
            font-size: 16px; /*no*/
            color: #fff;
            overflow: hidden;
        }
    }
    // link
    &__link {
        display: flex;
        flex-flow: row wrap;
        padding: 0.5rem 0;
        font-size: 14px; /*no*/
        justify-content: center;
        &--title {
            margin: 0.2rem;
            color: $footer__link--color;
        }
        &--row {
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            &>a, &>a:visited{
                color: $footer__normal--color;
                transition: all .3s;
                text-decoration: none;
                padding: 0.2rem 0.2rem;
                cursor: pointer;
            }
            &>a:hover, &>a:active {
                color: $footer__link--color;
                transform: translateY(-4%);
            }  
        }
    }
    // email
    &__email {
        padding-bottom: 0.7rem;
    }
    // copyright
    &__copyright {
        padding-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        min-width: 16rem;
        &__introduction--description {
            margin-left: 18px;
        }
        &__copyright {
            text-align: center;
        }
        &__link {
            display: none;
        }
    }
}
@media only screen and (min-width: 769px) and (max-width: 1340px) {
}