/*
** 首页底部栏css
** Coding by lsj
** 2018/11/7
*/
$footer__normal--color:#bccff5;
$footer__link--color:gold;
.footer {
    width: 100%;
    min-height: 1000px;
    background: url('http://bk.tencent.com/static/images/index/banner_bg07.png');
    background-size: cover;
    background-position: 0% 100%;
    display: flex;
    flex-direction: row;
    font-size: 16px; /*no*/
    color: $footer__normal--color;
    
    // left块
    &__introduction {
        width: 37%;
        height: inherit;
        padding-left: 6%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__picture {
        display: flex;
        flex-direction: row;
        height: 160px;
        &--logo {
            width: 160px;
            height: 160px;
        }
        &--description {
            margin-left: 50px;
            height: 160px;
            line-height: 160px;
            font-size: 20px; /*no*/
            color: #fff;
            overflow: hidden;
        }
    }
    &__email {
        margin-top: 60px;
    }
    &__copyright {
        margin-top: 170px;
    }

    // middle块
    &__link {
        width: 37%;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // padding-left: 3%;
        overflow: hidden;
        &--title {
            margin-top: 75px;
            color: $footer__link--color;
        }
        &--row {
            &>ul {
                display: flex;
                flex-flow: column wrap;
                height: 600px;
                &>li {
                    list-style: none;
                    padding: 60px 0;
                    &>a, &>a:visited{
                        color: $footer__normal--color;
                        transition: color .3s;
                        text-decoration: none;
                    }
                    &>a:link, &>a:hover, &>a:active {
                        color: $footer__link--color;
                    }
                }
            }
        }
    }

    // right块
    &__elements {
        height: inherit;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-around;
        padding: 100px 0;
        box-sizing: border-box;
        align-items: center;
        &--logo {
            width: 270px;
            height: 270px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .footer {
        min-width: 16rem;
        flex-direction: column;
        &__introduction {
            width: 100%;
            padding: 80px;
            box-sizing: border-box;
        }
        &__picture {
            justify-content: center;
            height: 120px;
            &--logo {
                width: 120px;
                height: 120px;
            }
            &--description {
                margin-left: 18px;
                height: 120px;
                line-height: 120px;
                font-size: 16px; /*no*/
            }
        }
        &__email {
            margin-top: 50px;
            text-align: center;
            overflow: hidden;
        }
        &__copyright {
            margin-top: 100px;
            text-align: center;
        }
        &__link {
            display: none;
        }
        &__elements {
            flex-direction: row;
            padding: 0px 100px 50px 100px;
            &--logo {
                width: 10%;
                min-width: 200px;
                height: 10%;
                min-height: 200px;
            }
        }
    }
}
@media only screen and (min-width: 769px) and (max-width: 1340px) {
    .footer {
        padding: 0 5%;
        box-sizing: border-box;
        &__introduction {
            width: 45%;
        }
        &__elements {
            display: none;
        }
        &__link {
            flex: 1;
            &--row {
                &>ul>li {
                    width: 11rem;
                    height: 80px;
                    // text-overflow: ellipsis;
                    // white-space: nowrap;
                    // overflow: hidden;
                    &>a, &>a:visited{
                        margin: 0 60px;
                    } 
                }
            }
        }
    }
}