/*
** Coding by vzt
** 2018/11/4
*/
$nav-li-active-color: gold;
$nav-active-boxshadow-color: #C6C6C6;
.header {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 1280px;/*no*/
  height: 340px;
  padding: 0 600px 0 600px;
  line-height: 340px;
  color: #fff;
  background-color: transparent;
  transform: translateY(15%);
  transition: transform 1s;
  z-index: 3;

  &--active {
    position: fixed;
    top: 0;
    color: #000;
    background-color: #fff;
    box-shadow: 10px 0 10px $nav-active-boxshadow-color;
    transform: translateY(0%);
    border-bottom: 20px solid $nav-li-active-color;
  }

  .logo {
    .logo__icon {
      width: 200px;
      height: 200px;
      padding: 20px;
      margin-right: 20px;
      vertical-align: middle;
    }
    .logo__text {
      color: inherit;
      font-weight: 400;
      font-size: 26px;/*no*/
      vertical-align: middle;
    }
    &>a {
      margin: 10px;
      padding: 30px;
      text-decoration: none;
      transition: color .8s;
    }
    &>a:link, &>a:hover, &>a:active, &>a:visited {
      color: inherit;
    }
  }

  .nav {
    height: 100%;
    ul {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    ul li{
      float: left;
      list-style: none;
      font-size: 18px;/*no*/
      margin: 0 50px 0 50px;
      
      &>a {
        margin: 10px;
        padding: 30px;
        text-decoration: none;
        transition: color .3s;
      }
      &>a:link, &>a:hover, &>a:active, &>a:visited {
        color: inherit;
        opacity: 0.8;
      }
      &>a:hover {
        color: $nav-li-active-color;
      }
    }
  }
  .nav--active {
    color: $nav-li-active-color;
  }
}